#main-content {
  margin-top: 1em;
}
#todo-header {
  margin-top: .3em;
}

#clear-list-btn {
  margin-top: 1em;
}

#search-input {
  margin-top: 2em;
}

.show {
  display: block;
}

.hide {
  display: none;
}